bdi::before {
  content: '';
  position: absolute;
  top: 9px;
  left: -13px;
  transform: translateY(-50%);
  border-left: 7px solid black;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  transition: 0.3s linear;
  opacity: 0;
}

bdi::after {
  content: 'ADD TO CART';
  position: absolute;
  width: 90px;
  height: 26px;
  top: -4px;
  left: -103px;
  background-color: #000;
  color: #fff;
  font-size: 1.4rem;
  line-height: 26px;
  text-align: center;
  transition: 0.3s linear;
  opacity: 0;
}

i:hover ~ bdi::after,
i:hover ~ bdi::before {
  opacity: 1;
}
