#productPage.swiper-container {
  max-width: 500px;
}

#productPage .swiper-wrapper {
  padding-inline-start: 0;
}

#productPage .swiper-button-prev,
#productPage .swiper-button-next {
  color: black;
}

#productPage .swiper-pagination-bullet {
  background-color: black;
}

#thumbsProductPage.swiper-container {
  max-width: 500px;
  margin-top: 3px;
  cursor: pointer;
}

#thumbsProductPage .swiper-slide-thumb-active img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (max-width: 570px) {
  #productPage.swiper-container {
    width: 90vw;
  }
}

@media (max-width: 570px) {
  #thumbsProductPage.swiper-container {
    display: none;
  }
}

.swiperSlideImg {
  width: 100%;
}
