#productPage.swiper-container {
  max-width: 500px;

  /* border: 1px solid black; */
}

#productPage .swiper-wrapper {
  padding-inline-start: 0;
}

#thumbsProductPage.swiper-container {
  max-width: 500px;
  margin-top: 3px;

  /* border: 1px solid black; */
}

#thumbsProductPage .swiper-slide-thumb-active img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (max-width: 768px) {
  #productPage.swiper-container {
    width: 90vw;
    /* border: 1px solid black; */
  }
}
