#productSlider.swiper-container {
  margin-bottom: 20px;
  min-height: 320px;
  position: relative;
}

#productSlider .swiper-button-prev {
  color: black;
  padding-right: 20px;
}
#productSlider .swiper-button-next {
  color: black;
  padding-left: 20px;
}

#productSlider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
