#main.swiper-container {
  width: 100%;
  height: 490px;
  max-width: none;
  z-index: 0;
}

#main .swiper-slide {
  position: relative;
  background-size: cover;
  background-position: center;
}

#main .swiper-button-prev,
#main .swiper-button-next {
  color: white;
}

#main .swiper-pagination-bullet {
  background-color: #fff;
}

@media (max-width: 768px) {
  #main.swiper-container {
    height: calc(100vh - 100px);
  }
}
